button {
  background-color: mediumspringgreen;
  margin-left: 250px;
}

.lets-play {
  margin-left: 654px;
}

.go-back {
  margin-left: 898px;
}

.wordsList {
    margin-left: 5%;
    margin-right: 5%;
}