#finalResults {
    text-align: center;
}

td {
    font-size: large;
    margin-left: 875px;
}
.finallogout{
    margin-left: 0px;
}
#playword{
    width: fit-content;
    margin-left: 20px;
}
.missdwds{
    margin-left: 900px;
}