#finalResults {
    text-align: center;
}

tr{
    font-size: large;
    text-align: center;
}
.finallogout{
    margin-left: 0px;
}
#playword{
    width: fit-content;
    margin-left: 20px;
    text-align: center;
}
.missdwds{
    text-align: center;
    margin-left: 780px;
}