.btn-games {
  display: inline;
  
}

.games-js {
  text-align: left;
  margin-left: 800px;
}

#btn-2 {
  background-color: mediumspringgreen;
  width: 130px;
  height: 40px;
  position: relative;
  animation: mymove 12s infinite;
  cursor: grabbing;
  border-radius: 40px 10px;
}
#btn-2:hover {
  animation-play-state: paused;
}

@keyframes mymove {
  from {left: 0px;}
  to {left: 913px;}
}

#btn-3 {
  background-color: rgb(183, 250, 0);
  width: 130px;
  height: 40px;
  position: relative;
  animation: mymove 10s infinite;
  cursor: grabbing;
  border-radius: 15px 35px;
}
#btn-3:hover {
  animation-play-state: paused;
}

@keyframes mymove {
  from {left: 0px;}
  to {left: 913px;}
}
#btn-4 {
  background-color: rgb(250, 0, 137);
  width: 130px;
  height: 40px;
  position: relative;
  animation: mymove 20s infinite;
  cursor: grabbing;
  border-radius: 15px 1px;
}
#btn-4:hover {
  animation-play-state: paused;
}
@keyframes mymove {
  from {left: 0px;}
  to {left: 913px;}
}
#btn-5 {
  background-color: rgb(110, 131, 223);
  width: 130px;
  height: 40px;
  position: relative;
  animation: mymove 17s infinite;
  cursor: grabbing;
  border-radius: 1px 15px;
}
#btn-5:hover {
  animation-play-state: paused;
}
@keyframes mymove {
  from {left: 0px;}
  to {left: 913px;}
}
#btn-6 {
  background-color: rgb(250, 0, 237);
  width: 130px;
  height: 40px;
  position: relative;
  animation: mymove 16s infinite;
  cursor: grabbing;
  border-radius: 15px 35px;
}
#btn-6:hover {
  animation-play-state: paused;
}
@keyframes mymove {
  from {left: 0px;}
  to {left: 913px;}
}
#btn-7 {
  background-color: rgb(250, 246, 0);
  width: 130px;
  height: 40px;
  position: relative;
  animation: mymove 15s infinite;
  cursor: grabbing;
  border-radius: 15px 1px;
}
#btn-7:hover {
  animation-play-state: paused;
}
@keyframes mymove {
  from {left: 0px;}
  to {left: 913px;}
}
