#welcome, h2 {
    text-align: center;
}

#goto {
  width: 110;
  height: 100;
  position: relative;
  animation: mymove 10s infinite;
  cursor: grabbing;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
}

@keyframes mymove {
  from {left: 0px;}
  to {left: 905px;}
}
#logout:hover {
    text-align: center;
    border-radius: 25px;
    
}