#welcome, h2 {
    text-align: center;
}

#goto {
  width: 110;
  height: 100;
  position: relative;
  animation: mymove 10s infinite;
  cursor: grabbing;
  border-radius: 5px 25px;
  background-color: rgb(73, 27, 202);
  color: white;
}

@keyframes mymove {
  from {left: 0px;}
  to {left: 255px;}
}
.logout:hover {
  text-align: center;
  border-radius: 25px 0px;
  
}
button {
  background-color: rgb(226, 72, 72);
  border-radius: 25px 15px;
  color: black;
}
